* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 45px 20px 0px;
}

.header {
    background-color: #006666;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.logo {
    font-family: "The Wild Breath of Zelda";
    text-decoration: none;
    font-size: 34px;
    padding: 0 40px;
    line-height: 90px;
    color: #00cccc;
}

h1{
    color: #ffff00;
    font-family:"The Wild Breath of Zelda";
    text-align:center;
    font-weight: normal;
    margin-top:10px;
    font-size:55px;
}
.contenido{
    background-image: url(../img/TriForce.jpg);
    background-size:cover;
    background-position: center;
    top: 12%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;

}
.songContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenido-2{
    background-image: url(../img/kokiriForest.jpg);
    background-size:cover;
    background-position: center;
    top: 12%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;

}
.linkContainer{
    position: absolute;
    bottom: 10px;
    right: 60px;
}
.link{
    color: #00cccc;
    text-decoration: none;
}
.link:hover{
    font-size: 22px;
    background-image: url(../img/totkBG.jpg);
    transition: 0.7s;
}
.title2{
    color: #006600;

}
.anterior{
    margin-right:1000px;


}
.contenido-3{
    background-image: url(../img/MajorasMask.jpg);
    background-size:cover;
    background-position: center;
    top: 12%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.title3{
    color: #006600;
}

.contenido-4{
    background-image: url(../img/ZeldaBG.jpg);
    background-size:cover;
    background-position: center;
    top: 12%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.title4{
    color: #ff33ff;
}
.contenido-5{
    background-image: url(../img/DaleZeldaDale.jpg);
    background-size:cover;
    background-position: center;
    top: 12%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.title5{
    color: #990000; 
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
